﻿
@{
    ViewData["Title"] = "ForwardSend";
}

<h1>ForwardSend</h1>
<form method="post" asp-action="ForwardSend">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group">
        <label class="control-label">Sender Id</label>
        <input type="text" name="senderId" class="form-control" />
    </div>
   
    <div class="form-group">
        <label class="control-label">Topic</label>
        <input type="text" name="topic" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

