﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a href="/Users">Users</a><br />
        <a href="/Letters">Letters</a><br />
        <a href="/Users/GetUsersWithCountLettersInfo">Users with count letter</a><br />
        <a href="/Users/GetUserWithLowerLetter">User with lowest letter text</a><br />
        <a href="/Users/GetUserWithNoTopicLetter">User with letter without topic</a><br />
        <a href="/Users/GetUserWithTopicLetter">User with letter with topic</a><br />
        <a href="/Users/ForwardSend">Forward send</a>

    </div>
